@model List<RestaurantTheme.Models.FoodItem>

<h3>Top Picks</h3>
@await Component.InvokeAsync("TopFoodItems", new { count = 3 })

<h2 class="text-center">Our Menu</h2>

<div class="container mt-4">
    

    <div class="row">
        @foreach (var item in Model)
        {
            @await Html.PartialAsync("_ItemThumbnail", item)
        }
    </div>
</div>